[submodule "build/qml_test"]
	path = build/qml_test
	url = https://github.com/c3pio-man/qml_test
[submodule "build/browser-minimal"]
	path = build/browser-minimal
	url = https://github.com/c3pio-man/browser-minimal.git
